.banner-page {
  width: 100%;
  height: 380px;
  background-size: cover !important;
  background-position: 50% 50% !important;
  background: #ccc;

  @media screen and(max-width:  $width-1024) {
    height: 200px;
  }

  @media screen and(max-width:  $width-411) {
    height: 95px;
  }
}
