.modal-form {
  max-width: 970px;

  @media screen and(max-width:  $width-1024) {
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen and(max-width:  $width-768) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.form-modal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  padding: 15px;

  @media screen and(max-width:  $width-411) {
    padding: 15px 0;
  }
}

.form-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
}

.form-image {
  width: 40%;
  margin-right: 20px;

  @media screen and(max-width:  $width-768) {
    display: none;
  }

  img {
    width: 100%;
  }
}

.form-fields {
  width: calc(60% - 20px);

  @media screen and(max-width:  $width-768) {
    width: 100%;
  }

  .title {
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    text-transform: uppercase;
    color: #2F2F2F;
  }

  .text {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    opacity: 0.6;
    margin-bottom: 20px;
  }

  button {
    margin-top: 30px;
  }

  .policy {
    font-size: 12px;
    line-height: 16px;
    color: #ccc;

    a {
      color: #ccc;
    }
  }
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;

  @media screen and(max-width:  $width-1024) {
    margin-bottom: 0;
  }
}

.form-cell {
  border: 1px solid #6E6E6E;
  padding: 0 10px;
  width: calc(50% - 5px);
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  @media screen and(max-width:  $width-1024) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  &--full {
    width: 100%;
    margin-right: 0;
  }

  &--textarea {
    padding-top: 10px;
  }

  span {
    color: #ACACAC;
    margin-right: 5px;
    font-size: 12px;

    @media screen and(max-width:  $width-411) {
      font-size: 12px;
    }
  }

  input {
    border: none;
    width: calc(100% - 110px);
    height: 38px;
    font-size: 12px;

    @media screen and(max-width:  $width-411) {
      width: calc(100% - 100px);
    }
  }

  textarea {
    width: 100%;
    padding: 10px 0px;
    height: 90px;
    border: none;
  }
}

button.close {
  position: absolute;
  right: 15px;
  top: 5px;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.success-text__form {
  display: none;
}
