/* src/assets/styles/components/_header.scss  */

.header {
	padding: 16px 0;
	height: 120px;
	flex: 0 0 auto;
	
	&__container {
		display: flex;
		justify-content: space-between;
	}

	&__logo {
		flex: 0;
	}

	&__menu {
		flex: 1;
		margin: 9px 57px 0;

		@media screen and(max-width:  $width-1110) {
			margin: 9px 30px 0;
		}

		@media screen and(max-width:  $width-1024) {
			display: none;
		}
	
		&-top {
			display: flex;
			justify-content: space-between;
		}

		.top-links {
			display: flex;
			list-style: none;
			padding: 0;
			margin: 0;
			font-size: 14px;
			line-height: 19px;

			@media screen and(max-width:  $width-1440) {
				font-size: 12px;
			}

			@media screen and(max-width:  $width-1200) {
				font-size: 10px;
			}

			li {
				font-weight: 600;
				text-transform: uppercase;
				color: #A8A28F;
				text-decoration: none;
			}

			li + li::before {
				content: "|";
				padding: 0 10px;
				color: #A8A28F;
				font-weight: 600;

				@media screen and(max-width:  $width-1366) {
					padding: 0 3px;
				}	
			}
			
		}

		.bottom-links {
			display: flex;
			justify-content: space-between;
			list-style: none;
			padding: 0;
			margin: 20px 0 0;
			font-size: 14px;
			line-height: 19px;

			@media screen and(max-width:  $width-1366) {
				font-size: 12px;
			}
			
			@media screen and(max-width:  $width-1200) {
				font-size: 10px;
			}

			a {
				text-transform: uppercase;
				color: #2F2F2F;
				text-decoration: none;
			}
		}

	}

	.lang {

		&__link {
			width: 22px;
			height: 15px;
			display: inline-block;
		}

		&--rus {
			background: url('../images/icons/lang-rus.jpg');
			margin-left: 3px;
		}

		&--eng {
			background: url('../images/icons/lang-eng.jpg');
		}
	}

	&__reserve {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 11px;
	}

	&__phone {
		color: #2F2F2F;
		text-decoration: none;
		font-weight: 600;
		margin-bottom: 10px;
	}

}
