/* src/assets/styles/components/_slick.scss  */

.slick-dotted.slick-slider
{
  margin-bottom: 50px;
}

.slick-dots
{
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  height: 36px;
}

.slick-dots li
{
  position: relative;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 0 5px;
  padding: 0;
	cursor: pointer;
	background: #ACACAC;
  border-radius: 50%;
}
.slider-full .slick-dots li {
  background: #fff;
}
.slick-dots li button
{
  font-size: 0;
  line-height: 0;
  display: block;
  width: 9px;
  height: 9px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
	background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
  opacity: 1;
}

.slick-dots li.slick-active {
	background: none;
	border: 1px solid #ACACAC;
	width: 12px;
	height: 12px;
	position: relative;
}

.slider-full .slick-dots li.slick-active {
  border: 1px solid #fff;
}

.slick-dots li.slick-active button:before
{
	position: absolute;
	content: "";
	top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	width: 5px;
  height: 5px;
	opacity: .75;
	text-align: center;
	background: #ACACAC;
	border-radius: 50%;
}

.slider-full li.slick-active button:before {
  background: #fff;
}

.btn-slider {
  border: 1px solid #C6C6C6;
  background: none;
  width: 35px;
  height: 35px;
  cursor: pointer;

  span {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/icons/slide-arrow.svg') center center no-repeat;

    &:hover {
      opacity: .7;
    }
  }
}

.btn-slider-next span {
  transform: rotate(180deg);
}


.btn-slider-white {
  border: none;
  background: #fff;
  width: 35px;
  height: 35px;
  cursor: pointer;

  span {
    display: block;
    width: 100%;
    height: 100%;
    background: url('../images/icons/slide-arrow-black.svg') center center no-repeat;

    &:hover {
      opacity: .7;
    }
  }
}


.slick-dots-square {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slick-dots-square li {
  position: relative;
  width: 8px;
  height: 8px;
  cursor: pointer;
  margin: 0 4px;
  background: #fff;
}

.slick-dots-square li button
{
  font-size: 0;
  line-height: 0;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: #fff;
  border: 0;
  outline: none;
  padding: 0;
  margin: 0;
}
.slick-dots-square li button:hover,
.slick-dots-square li button:focus
{
  outline: none;
}
.slick-dots-square li button:hover:before,
.slick-dots-square li button:focus:before
{
  opacity: 1;
}

.slick-dots-square li.slick-active {
	opacity: .5;
}
