/* src/assets/styles/components/_slick.scss  */

.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: 20px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    width: 9px;
    height: 9px;
    margin: 0 5px;
    padding: 0;
		cursor: pointer;
		background: #ACACAC;
    border-radius: 50%;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 9px;
    height: 9px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
		background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots1 li button:before
{
    
		position: absolute;
		content: "";
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    text-align: center;

		background: black;
	

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active {
	background: none;
	border: 1px solid #ACACAC;
	width: 12px;
	height: 12px;
	position: relative;
}

.slick-dots li.slick-active button:before
{
		position: absolute;
		content: "";
		top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
		width: 5px;
    height: 5px;
		opacity: .75;
		text-align: center;
		background: #ACACAC;
		border-radius: 50%;
}
