/* src/assets/styles/pages/_about.scss  */

.about {
	margin-bottom: 80px;

	@media screen and(max-width:  $width-1024) {
		margin-bottom: 40px;
	}

	img {
		padding: 30px 0;
		width: 100%;

		@media screen and(max-width:  $width-1024) {
			padding: 15px 0;
		}
	}

	&--container {
		max-width: 630px;
	}

	&-btn {
		display: flex;
		flex-wrap: wrap;
		margin-top: 50px;

		.btn {
			margin-right: 32px;
			margin-bottom: 20px;
		}
	}
}

.about-data {
	margin-top: 18px;

	.data-restaurant {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 50px;

		@media screen and(max-width:  $width-1024) {
			max-width: 700px;
		}

		@media screen and(max-width:  $width-768) {
			margin-top: 30px;
		}

		&__item {
			width: 33.333%;
			display: flex;
			padding: 0 60px 48px 0;

			@media screen and(max-width:  $width-1024) {
				width: 50%;
				padding: 0 0 24px 0;
			}

			@media screen and(max-width:  $width-640) {
				width: 100%;
			}
		}

		&__icon {
			margin-right: 16px;
		}

		&__info {
			display: flex;
		}

		&__title {
			color: #828282;
			font-weight: 600;
			font-size: 12px;
			line-height: 16px;
			text-transform: uppercase;
			padding-bottom: 4px;
		}

		&__description {
			font-size: 14px;
			line-height: 1.4;
			color: #2F2F2F;
		}

		&__time {
			display: flex;
		}

		&__day {
			margin-right: 10px;
		}
	}
}
