/* src/assets/styles/pages/_index.scss  */

.main-banner {
  position: relative;
}

.top-slider__item {
  width: 100%;
  height: 650px;
  background-size: cover !important;
  background-position: 50% 50% !important;

  @media screen and(max-width:  $width-1200) {
    height: 450px;
  }

  @media screen and(max-width:  $width-1024) {
    height: 350px;
  }

  @media screen and(max-width:  $width-768) {
    height: 250px;
  }

  @media screen and(max-width:  $width-411) {
    height: 162px;
  }

}

.top-slider-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;

  &__item {
    display: flex;
    justify-content: center;
    
  }
}

.side-slider {
  width: 30%;

  @media screen and(max-width:  $width-1024) {
    width: 0;
  }
}

.content-slider {
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 40%;

  @media screen and(max-width:  $width-1024) {
    width: 100%;
  }

  &__title {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 10px;

    @media screen and(max-width:  $width-1200) {
      font-size: 35px;
      line-height: 45px;
    }

    @media screen and(max-width:  $width-768) {
      font-size: 30px;
      line-height: 40px;
    }

    @media screen and(max-width:  $width-411) {
      font-size: 24px;
      line-height: 33px;
    }
  }

  &__kitchen {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 15px;
  }

  &__address {
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;

    @media screen and(max-width:  $width-1024) {
      display: none;
    }
  }
}

.lp-slider {
  text-align: right;
  width: 215px;
  height: 290px;
  background-size: cover !important;
  background-position: 50% 50% !important;
  border: 4px solid #fff;
  position: relative;

  @media screen and(max-width:  $width-1024) {
    display: none;
  }

  &__title {
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 28px;
    background: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
  }
}

.poster-slider {
  width: 215px;
  height: 290px;
  background-size: cover !important;
  background-position: 50% 50% !important;
  border: 4px solid #fff;
  position: relative;

  @media screen and(max-width:  $width-1024) {
    display: none;
  }

  &__title {
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 28px;
    background: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 8px;
  }

  &__anons {
    font-size: 12px;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80px;
    background: rgba(0, 0, 0, .4);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8px;
  }

  &__name {
    text-transform: uppercase;
    font-weight: 600;
    margin: 6px 0;
  }
}

.top-slider__social {
  position: absolute;
  bottom: 35px;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  width: 100%;

  @media screen and(max-width:  $width-768) {
    bottom: 15px;
  }

  @media screen and(max-width:  $width-640) {
    display: none;
  }

  &-link {
    color: #fff;
    text-decoration: none;
    margin-right: 70px;

    @media screen and(max-width:  $width-768) {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.slider-lp {
  margin-top: 15px;
  padding: 0 55px;

  &__item {
    padding: 0 5px;
    display: block;
  }

  &__link {
    width: 100%;
    text-align: center;
    padding: 12px;
    font-size: 12px;
  }

  .btn-slider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }
  }
}

.main-page {

  margin-top: 40px;

  &--container {
    max-width: 868px;
    margin: 0 auto;
  }

  &__title-icon {
    margin-bottom: 10px;

    @media screen and(max-width:  $width-768) {
      display: none;
    }
  }

  &__title {
    text-align: center;
    margin-bottom: 50px;

    @media screen and(max-width:  $width-768) {
      text-align: left;
      margin-bottom: 30px;
    }
  }
}

.main-card {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: calc(100% + 20px);

  @media screen and(max-width:  $width-768) {
    width: 100%;
    margin-bottom: 30px;
	}

  &--reverse {
    flex-direction: row-reverse;
  }

  &__col {
    width: calc(50% - 20px);
    margin-right: 20px;

    @media screen and(max-width:  $width-768) {
      width: 100%;
      margin-right: 0;
    }

    img {
      width: 100%;
    }
  }

  &--full &__col {
    width: calc(100% - 20px);
    margin-right: 0;
  }

  &--mb30 {
    margin-bottom: 30px;
  }

  &__title {
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    text-transform: uppercase;

    @media screen and(max-width:  $width-768) {
      font-size: 16px;
      line-height: 22px;
      margin-top: 30px;
    }
  }
}

.slider-full {
  width: 100%;
  margin-bottom: 50px;
  position: relative;

  @media screen and(max-width:  $width-768) {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
  }

  .slick-dots {
    position: absolute;
    bottom: 20px;
  }

  &__item {
    width: 100%;
    height: 410px;
    background-size: cover !important;
    background-position: 50% 50% !important;
    position: relative;

    @media screen and(max-width:  $width-768) {
      height: 490px;
    }
  }

  &__box {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px 54px;
    width: 478px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and(max-width:  $width-768) {
      width: 90%;
      max-width: 478px;
      padding: 30px 40px;
    }
  }

  &__title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 13px;

    @media screen and(max-width:  $width-768) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}


.slider-poster {
  padding: 0 55px;

  @media screen and (max-width:  $width-640) {
    padding: 0;
  }

  &__block {
    border: 1px solid #C6C6C6;
    display: flex;
    margin: 0 10px;
    color: #2F2F2F;
    text-decoration: none;
    max-height: 100px;

    @media screen and (max-width:  $width-640) {
      flex-direction: column;
      margin: 0;
      max-height: 100%;
		}
  }

  .slick-list {
    margin-bottom: 10px;
  }

  img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: top center;

    @media screen and (max-width:  $width-640) {
      width: 100%;
      height: 100%;
      max-height: 300px;
    }

    @media screen and (max-width:  $width-411) {
      max-height: 200px;
		}
  }

  &__text {
    padding: 20px;

    @media screen and (max-width:  $width-640) {
      padding: 25px 20px;
      height: 90px;
    }
    
    
  }

  .btn-slider {
    position: absolute;
    top: 50%;
    transform: translateY(calc(-50% - 12px));
    
    @media screen and (max-width:  $width-640) {
      top: unset;
      bottom: 0;
      transform: translateY(0);  
		}

    &-prev {
      left: 0;
    }

    &-next {
      right: 0;
    }
  }
}


.poster-container {
  display: none;

  @media screen and (max-width:  $width-1024) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% + 20px);
  }

  @media screen and (max-width:  $width-768) {
    width: 100%;
  }

  .poster-anons {
    margin-right: 20px;
    width: calc(33.333% - 20px);
    padding: 15px 0;
    height: 100%;

    @media screen and (max-width:  $width-768) {
      width: 100%;
      margin-right: 0;
    }
    
    &__block {
      border: 1px solid #C6C6C6;
    }

    &__info {
      padding: 10px;
    }

    &__date, &__price {
      font-size: 12px;
      line-height: 16px;
      color: #9C9987;
    }

    &__description {
      font-size: 12px;
      line-height: 16px;

      &--big {
        text-transform: uppercase;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      color: #000000;
      text-transform: uppercase;
      padding-bottom: 15px;
    }

    &__img {
      height: 290px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

