.kitchen-page {
	display: flex;

	@media screen and(max-width:  $width-768) {
		flex-direction: column;
	}

	&__menu {
		flex: 0 0 250px;

		@media screen and(max-width:  $width-768) {
			flex: 1 1 auto;
			margin-bottom: 20px;
		}

		a {
			display: block;
			margin-bottom: 5px;
			text-decoration: none;

			&:hover {
				color: #a8a28f;
			}
		}
	}

	&__text {
		margin-left: 20px;

		@media screen and(max-width:  $width-768) {
			margin-left: 0;
		}
	}
}
