extends ../layouts/master.pug
include ../components/breadcrumbs.pug

block title
  title Современная русская кухня в ресторане LA RUSS

block content

  //- Desktop page
  .banner-page(style="background: url('../assets/images/about-banner.jpg') no-repeat;")
  
  .container
    .container-page
      +breadcrumbs("Современная русская кухня в ресторане LA RUSS")
      h1.page-h1 Современная русская кухня в ресторане LA RUSS

  section.static
    .container
      .container-page.text
        .kitchen-page
          .kitchen-page__menu
            p
              a(href="") Основное меню / карта бара
              a(href="") Банкетное меню
              a(href="") Фуршетное меню
              a(href="") Партнерам
              a(href="") Меню для предновогоднего банкета
          .kitchen-page__text
            |<p>
            |	 Ресторан «LA RUSS» предлагает гостям заведения обширный выбор блюд современной русской кухни. Благодаря разнообразному набору ингредиентов и классическим сочетаниям с оригинальной ноткой, меню в современном русском стиле понравится даже самому придирчивому посетителю.
            |</p>
            |<p>
            |	 Национальная русская кухня такая же своеобразная и самобытная, как и всякая другая. Она формировалась под влиянием природных, социальных, экономических и исторических факторов. Являясь одной из самых колоритных кухонь в мире, русская имеет основную особенность – использование обилия самых разнообразных продуктов для приготовления блюд. Само собой разумеется, что в процессе своей длительной эволюции русская кухня впитала в себя лучшие традиции других народов, но, тем не менее, она сумела сохранить свою основу, свои характерные национальные черты.
            |</p>
            |<h2>СОВРЕМЕННАЯ РУССКАЯ КУХНЯ В РЕСТОРАНЕ «LA RUSS»</h2>
            |<p>
            |	 Меню ресторана новой русской кухни «LA RUSS» сочетает в себе традиционные рецепты в оригинальном исполнении с учетом последних гастрономических тенденций. Шеф-повар ресторана вносит в привычные сочетания интересные нотки и авторскую подачу - знакомые блюда становятся запоминающимися!
            |</p>
            |<p>
            |	 В ресторане «LA RUSS» блюда готовятся с сохранением кулинарных традиций только из свежайших продуктов высокого качества, которые поставляют напрямую от фермерских хозяйств, охотников и рыболовов.
            |</p>
            |<h2>РЕСТОРАН LA RUSS РЕКОМЕНДУЕТ!</h2>
            |<p>
            |	 Если вы хотите отведать вкусных, сытных и нетривиальных блюд, приходите в ресторан LA RUSS в центре Санкт-Петербурга. В меню, составленном опытным шеф-поваром, найдутся угощения как для любителей традиционных и привычных блюд, так и для желающих необычных гастрономических сочетаний:
            |</p>
            |<ul>
            |	<li>два вида кубанского сала с разварным картофелем и солеными груздями - сытная закуска с украинским колоритом,</li>
            |	<li>традиционная «Сельдь под шубой» с изысканным штрихом - красной лососевой икрой,</li>
            |	<li>наваристый борщ с пышными чесночными пампушками и языком,</li>
            |	<li>томленый лось, в оригинальном соусе, с гарниром из гречи и лесных грибов.</li>
            |	<li>любимая в народе говядина по-строгановски с нежной подливой и воздушным сливочным картофельным пюре,</li>
            |	<li>торт “Наполеон” с оригинальной ноткой печеных яблок и груш вместо традиционного масляного крема.</li>
            |</ul>
            |<p>
            |	 Это лишь несколько блюд из обширного меню ресторана современной русской кухни LA RUSS. Кроме того, шеф-повар заведения регулярно радует гостей интересными сезонными предложениями по авторским рецептам с русским колоритом. Приходите в LA RUSS и подарите себе удивительные гастрономические впечатления!
            |</p>
