extends ../layouts/master.pug
include ../components/breadcrumbs.pug

block title
  title Laruss - Меню

block content

  //- Desktop page
  .banner-page(style="background: url('../assets/images/about-banner.jpg') no-repeat;")
  
  .container
    .container-page
      +breadcrumbs("Меню")
      h1.page-h1 Меню

