extends ./layouts/master.pug

block title
  title Laruss - Главная

block content

  //- Desktop page
  section.main-banner
    .top-slider.swiper-container
      .swiper-wrapper.top-slider-wrapper
        .top-slider__item.swiper-slide(style="background: url('assets/images/slide4.jpg'); filter: brightness(50%);")
        .top-slider__item.swiper-slide(style="background: url('assets/images/slide1.jpg'); filter: brightness(50%);")
        .top-slider__item.swiper-slide(style="background: url('assets/images/slide2.jpg'); filter: brightness(50%);")
        .top-slider__item.swiper-slide(style="background: url('assets/images/slide3.jpg'); filter: brightness(50%);")
    .top-slider-content
      .top-slider-content__item.side-slider
          .top-slider-content__lp.lp-slider(style="background: url('assets/images/lp-in-slide.jpg');")
            .lp-slider__title Банкет
      .top-slider-content__item.content-slider
        .content-slider__title LA RUSS<br>РЕСТОРАН & ШОУ
        .content-slider__kitchen Современная русская кухня
        .content-slider__address СПБ, НАБ. РЕКИ МОЙКИ, 37
      .top-slider-content__item.side-slider
          .top-slider-content__poster.poster-slider(style="background: url('assets/images/poster-in-slide.jpg');")
            .poster-slider__title Афиша
            .poster-slider__anons 
              .poster-slider__date Сегодня<br>пятница, 20:30
              .poster-slider__name Dance show
  section.main-page
    .container
      .main-page--container
        .main-page__title
          img.main-page__title-icon(src="assets/images/icons/fork-knife.svg")
          h1.main-h1 Ресторан современной русской кухни в центре Санкт-Петербурга
          p
            | Ресторан LARUSS расположен в цент ре Санкт-Петербурга — на Дворцовой площади. Стильное заведение быстро стало популярным балгодаря вкусной кухне и теплой атмосфере. 
      
        .main-card
          .main-card__col
            img(src="assets/images/main1.jpg")
          .main-card__col
            .main-card__title Современная Русская кухня
            .main-card__text.text
              p
                | Современные технологии приготовления и новые ингредиенты добавляют свежему лососю и ладожскому судаку изысканные нотки. Всем, кому хочется открыть для себя интересные и яркие сочетания, стоит отведать ленский муксун с печеным кабачком, карпаччо из лося со свежим шпинатом и филе карельского оленя с томленой полбой и черничным порто.
              p
                | Однако атмосферный ресторан предлагает и немало блюд, приготовленных по традиционной рецептуре. Среди каноничных примеров – сет русских закусок, картофельные драники со сметаной, пирожки с разными начинками, борщ с разварным языком и пампушками.

        .main-card.main-card--reverse
          .main-card__col
            img(src="assets/images/main2.jpg")
          .main-card__col
            .main-card__title Исторический центр города
            .main-card__text.text
              p
                | Ресторан расположен в самом центре Санкт-Петербурга, на углу набережной реки Мойки и Дворцовой площади. Совсем рядом находятся главные достопримечательности Северной Столицы - Эрмитаж, арка Главного Штаба, Летний Сад, Адмиралтейство и прекрасные виды набережной Невы. До центральной улицы города - Невского проспекта - всего 500 метров.

              p
                | Также недалеко от заведения находятся три причала, поэтому уютный вечер в ресторане с живой музыкой и вкусными блюдами станет гармоничным продолжением культурного вечера с посещением музеев и речной прогулкой по Неве.

              p
                | Ресторан идеально подходит для празднования свадьбы благодаря близости главного ЗАГСА. До Дворца Бракосочетаний №1 - всего 19 минут пешком, а на автомобиле - и вовсе 11. Банкетный зал ресторана комфортно вмещает за столиками до 65 посетителей.

        .slider-full
          .slider-full__item(style="background: url('assets/images/slide2.jpg');")
            .slider-full__box
              .slider-full__title Внутреннее убранство
              .slider-full__text
                | Ресторан современной русской кухни выделяется не только разнообразным и колоритным меню, но и роскошным внутренним убранством. Здесь можно увидеть немало атрибутов Дворцового стиля и handmade-украшений, относящих к ярким историческим моментам. Это и репродукция легендарного пасхального яйца Фаберже, и императорская корона, и миниатюрная карета, и настоящий царский трон.
          .slider-full__item(style="background: url('assets/images/slide1.jpg');")
            .slider-full__box
              .slider-full__title Интерьер
              .slider-full__text
                | Ресторан современной русской кухни выделяется не только разнообразным и колоритным меню, но и роскошным внутренним убранством. Здесь можно увидеть немало атрибутов Дворцового стиля и handmade-украшений, относящих к ярким историческим моментам. Это и репродукция легендарного пасхального яйца Фаберже, и императорская корона, и миниатюрная карета, и настоящий царский трон.

        .main-card.main-card--full.main-card--mb30
          .main-card__col
            .main-card__title Развлекательная программа
            .main-card__text.text
              p
                | Что выделяет душевное русское застолье? В нем сытная и вкусная еда сочетается с теплыми разговорами в приятной компании и запоминающейся культурной составляющей. Издавна светские вечера предполагали выступления профессиональных артистов. Поэтому LARUSS уделяет этой части особое внимание. Заведение предлагает большой выбор выступлений с эстрадным вокалом и шоу-балетом:

        .slider-poster
          .slider-poster__item
            a.slider-poster__block(href="/poster/poster-detail")
              .slider-poster__img
                img(src="assets/images/poster-detail.jpg")
              .slider-poster__text Шоу-программа «Такие разные кабаре» - победитель в номинации ...
          .slider-poster__item
            a.slider-poster__block(href="/poster/poster-detail")
              .slider-poster__img
                img(src="assets/images/slide-main-poster2.jpg")
              .slider-poster__text Шоу программа «Russian style» - это современная трактовка русского фольклора, ...
          .slider-poster__item
            a.slider-poster__block(href="/poster/poster-detail")
              .slider-poster__img
                img(src="assets/images/slide-main-poster1.jpg")
              .slider-poster__text Шоу-программа «Такие разные кабаре» - победитель в номинации ...

        .main-card
          .main-card__col
            img(src="assets/images/main3.jpg")
          .main-card__col
            .main-card__title Удивительная атмосфера
            .main-card__text.text
              p
                | Летом у нас работает открытая площадка - с видом на Эрмитаж и Дворцовую площадь! Обязательно нужно заглянуть к нам, чтобы насладиться великолепным видом и фирменными блюдами! Мы находимся в самом центре города - и лучшего места для приятного ужина просто не найти.

              p
                | Все описанные выше моменты создают удивительное настроение, которое передается всем гостям заведения. К преимуществам ресторана также можно отнести:
              
              ul
                li команду профессиональных официантов, барменов и администраторов;
                li два зала – основной и VIP – на 60 и 10 персон;
                li объемную и разнообразную барную карту;
                li возможность проведения закрытых банкетов;
                li
                  | уникальное расположение: ресторан находится на
                  | Набережной Мойки, 37, на углу Дворцовой площади
                  | недалеко от метро «Адмиралтейская» и «Невский
                  | проспект».

              p
                | Звоните по номеру +7 (812) 571 75 91, чтобы задать интересующие вас вопросы или забронировать столик.
