extends ../../layouts/master.pug
include ../../components/breadcrumbs.pug
include ../../components/poster-item.pug

block title
  title Laruss - Афиша (детально)

block content

  //- Desktop page
  .banner-page(style="background: url('../assets/images/poster-banner.jpg') no-repeat;")
  
  .container
    .container-page
      +breadcrumbs("Афиша", "/poster")
      h1.page-h1 Шоу-программа с Ксюшей Арсеньевой и Ко
  
  section.poster
    .container
      .container-page.poster--container
        .poster-detail
          .poster-detail__wrapper-slider
            .poster-detail__slider
              .poster-detail__slider-container
                .slide-poster(style="background-image: url('../assets/images/news-detail.jpg')")
                .slide-poster(style="background-image: url('../assets/images/poster-detail.jpg')")
                .slide-poster(style="background-image: url('../assets/images/news-detail.jpg')")
                .slide-poster(style="background-image: url('../assets/images/poster-detail.jpg')")
                .slide-poster(style="background-image: url('../assets/images/news-detail.jpg')")
              .poster-detail__slider-cnt
              .poster-detail__info
                .poster-detail__price 340 ₽
                .poster-detail__text
                  p 
                    | NEW! Шоу-программа «Dancing Queen» - танцевальное шоу с эффектными костюмами и оригинальной хореографией и мировые хиты королев современной поп музыки. Начало программы в 20:30. После шоу дискотека, работает DJ с популярной танцевальной музыкой.

            .poster-detail__slider-vertical
              img(src="../assets/images/poster-detail.jpg")
              img(src="../assets/images/news-detail.jpg")
              img(src="../assets/images/poster-detail.jpg")
              img(src="../assets/images/poster-detail.jpg")
              img(src="../assets/images/poster-detail.jpg")
        
        .poster__show-more-list
          h2.page-h1 Другие шоу-программы
          .poster__list
            +poster-item('Шоу-программа «Russian style»')
            +poster-item('Шоу-программа с Ксюшей Арсеньевой и Ко')

  section.seo-block
    .container
      .container-page.poster--container
        .seo
          .seo__advantages
            .seo__advantages-icon
              img(src="../assets/images/icons/glass.svg")
            .seo__advantages-title Всегда звучит прекрасная музыка
          .seo__text
            h2 Живая музыка каждый вечер
            p 
              | В ресторане «Палермо» гостей ждет насыщенная развлекательная программа с живой музыкой, которая
              | гармонично дополнит любой вечер — будь то дружеские посиделки, романтическое свидание, семейная
              | встреча или праздник по важному поводу. После шоу гостей ждет дискотека от профессионального диджея с
              | хитами современной танцевальной музыки. Места на танцполе хватит всем!
            p
              | Приходите в ресторан «Палермо» насладиться живым вокалом в исполнении профессиональных артистов,
              | изысканными блюдами итальянской и европейской кухни, а также уютной атмосферой нашего заведения.

        .seo
          .seo__advantages
            .seo__advantages-icon
              img(src="../assets/images/icons/spb.svg")
            .seo__advantages-title Ресторан в историческом центре Петербурга
          .seo__text
            h2 Превосходное расположение
            p 
              | Ресторан Palermo находится в самом сердце Санкт-Петербурга — на набережной реки Фонтанки. До
              | заведения легко и удобно добираться, а до ключевых достопримечательностей города на Неве - всего пара
              | шагов. Ночная прогулка станет идеальным завершением приятного вечера в ресторане с живой музыкой и
              | танцами.
            
        .seo
          .seo__advantages
            .seo__advantages-icon
              img(src="../assets/images/icons/microphone.svg")
            .seo__advantages-title Мы можем подготовить шоу по вашему заказу!
          .seo__text
            h2 Организация мероприятий с живой музыкой
            p 
              | Вы запланировали банкет или торжество и не знаете, как развлечь гостей? Мы с радостью вам поможем - у нас есть замечательные артисты с готовыми шоу-программами: в стиле кабаре, с зажигательным канканом, с цыганскими романсами, театральными этюдами и многое-многое другое.

              | Обращайтесь к нашим менеджерам — и мы составим для вас идеальную программу, которая сделает ваш праздник неповторимым!
