//- Master layout

doctype html
html(lang='ru')
  head

    //- Meta
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    meta(name='msapplication-TileColor', content='#0E0E0E')
    meta(name='theme-color', content='#0E0E0E')

    script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=86d362ac-adcc-493d-a5c9-ef72825399ee' type="text/javascript")

    //- Title
    block title
      title Laruss

  body
    | <script>const disabledDates = ['28.11.2020', '30.11.2020'];</script>
    .wrapper
      //- Header
      include ../components/header.pug

      //- block content
      main.main-content
        block content
      //- Footer
      include ../components/footer.pug
      
      //- Sidebar
      include ../components/sidebar.pug

      include ../components/modal.pug
