mixin breadcrumbs(name, link)
  nav
    ul.breadcrumbs(itemscope="" itemtype="https://schema.org/BreadcrumbList")
      li(itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem")
        a.breadcrumbs-item(itemprop="item" href="/" title="Главная")
          span(itemprop="name") Главная
          meta(itemprop="position" content="1")
      li(itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem")
        a.breadcrumbs-item(itemprop="item" href=link title=name)
          span(itemprop="name")= name
          meta(itemprop="position" content="2")
