//- src/views/components/footer.pug

footer.footer
  .footer__map#map(data-lat="59.940533" data-lon="30.318976")
  .container
    .footer__links
      .social
        .social__title Мы в соцсетях
        .social__links
          a.social__link.vk(href="#")
          a.social__link.instagram(href="#")
          a.social__link.fb(href="#")
          a.social__link.trip(href="#")
          a.social__link.yandex(href="#")
          a.social__link.google(href="#")
      ul.footer-menu
        li.footer-menu__item
          a(href="/review").footer-menu__link Отзывы
        li.footer-menu__item
          a(href="#").footer-menu__link Карта сайта
        li.footer-menu__item
          a(href="#").footer-menu__link Создание и продвижение сайта – Zum Punkt
