//- src/views/components/footer.pug
.restaurant-fixed
  .restaurant-fixed__items
    .restaurant-fixed__slide
      a.restaurant-fixed__item(href="#")
        .restaurant-fixed__name LA RUSS
        .restaurant-fixed__type Ресторан & шоу
    .restaurant-fixed__slide
      a.restaurant-fixed__item(href="#")
        .restaurant-fixed__name Палермо
        .restaurant-fixed__type Ресторан
    .restaurant-fixed__slide     
      a.restaurant-fixed__item(href="#")
        .restaurant-fixed__name LA RUSS
        .restaurant-fixed__type Ресторан & шоу
    .restaurant-fixed__slide
      a.restaurant-fixed__item(href="#")
        .restaurant-fixed__name Палермо
        .restaurant-fixed__type Ресторан

footer.footer
  .footer__map#map(data-lat="59.940533" data-lon="30.318976")
  .container
    .footer__links
      .social
        .social__title Мы в соцсетях
        .social__links
          a.social__link.vk(href="#")
          a.social__link.instagram(href="#")
          a.social__link.fb(href="#")
          a.social__link.trip(href="#")
          a.social__link.yandex(href="#")
          a.social__link.google(href="#")
      ul.footer-menu
        li.footer-menu__item
          a(href="/review").footer-menu__link Отзывы
        li.footer-menu__item
          a(href="#").footer-menu__link Карта сайта
        li.footer-menu__item
          a(href="#").footer-menu__link Создание и продвижение сайта – Zum Punkt
