//- src/views/components/modal.pug

#reserve.modal(style="display: none;")
  .modal-dialog.modal-form
    .modal-content
      .modal-body
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        .form-modal
          .form-image
            img(src="assets/images/form-img.png")
          .form-fields
            .title Заказать столик
            .text Данная заявка не является гарантией бронирования столика, мы подтвердим Ваш резерв в течение 24 часов
            form(action="" class="form-send-reserve")
              .form-row
                .form-cell.date
                  span Дата*
                  input.input-w90.datetimepicker.form-control#datetimepicker(type="text" data-provide="datepicker" placeholder="дата и время")
                .form-cell
                  span Кол-во гостей
                  input.input-w90(autocomplete="off" type="text" name="" placeholder="65")
              .form-row
                .form-cell
                  span Ваше имя*
                  input.input-w90(autocomplete="off" type="text" name="name" placeholder="Ваше имя")
                .form-cell
                  span Телефон
                  input.input-w70(autocomplete="off" class="phone" type="text" name="phone" placeholder="+7 (000) 000-00-00")
              .form-row
                .form-cell.form-cell--full
                  span Эл. почта
                  input.input-w70(autocomplete="off" type="email" name="email" placeholder="email@emai.ru")
              .form-row
                .form-cell.form-cell--full.form-cell--textarea
                  span Комментарий
                  textarea(autocomplete="off" type="text" name="name" placeholder="Ваши пожелания")
              .policy Зказывая банкет, вы принимаете <a href="/policy/">пользовательское соглашение</a>
              button.btn.btn-big.btn-send-reserve(type="submit") Заказать
              .success-text__form Спасибо! Ваш заказ успешно отправлен.

#video-modal.modal(style="display: none;")
  .modal-dialog.modal-form
    .modal-content
      .modal-body
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        .embed-responsive.embed-responsive-16by9
          iframe.embed-responsive-item#video(src="" allowscriptaccess="always" allow="autoplay")

#menu-modal.modal(style="display: none;")
  .modal-dialog.modal-form
    .modal-content
      .modal-body
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        | <iframe id="menu-modal-content" src="" width="100%" height="500px"></iframe>

#success-form.modal(style="display: none;")
  .modal-dialog.modal-form  
    .modal-content
      .modal-body
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
        .success-block
          .success-text
