aside.sidebar
  .sidebar__logo
    .sidebar__logo-top Рестораны
    .sidebar__logo-title SUNDUK
    .sidebar__logo-footer RESTAURANT GROUP
  .sidebar__links
    a.sidebar__link.sidebar__link--current.restaurant-item(href="#")
      img.restaurant-item__img(src="../assets/images/menu-restrant-image.jpg")
      .restaurant-item__name LA RUSS
      .restaurant-item__type Ресторан & Шоу
    a.sidebar__link.restaurant-item(href="#")
      img.restaurant-item__img(src="../assets/images/menu-restrant-image.jpg")
      .restaurant-item__name Палермо
      .restaurant-item__type Ресторан
    a.sidebar__link.restaurant-item(href="#")
      img.restaurant-item__img(src="../assets/images/menu-restrant-image.jpg")
      .restaurant-item__name Сундук
      .restaurant-item__type Арт-кафе
    a.sidebar__link.restaurant-item(href="#")
      img.restaurant-item__img(src="../assets/images/menu-restrant-image.jpg")
      .restaurant-item__name Распутин
      .restaurant-item__type Кафе

